@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0 0 0;
    --color-secondary: 255 255 255;
    --color-accent: 29 29 29;
  };
}

@font-face {
  font-family: "planet";
  src: url(/font/planet_kosmos/PLANK___.TTF) format(truetype);
}

@font-face {
  font-family: "patino";
  src: url(/font/patinio_futura/Patinio Futura.ttf) format(truetype);
}

p{
  font-family: patino;
}

li{
  text-decoration: underline;
}

.brandLogo{
  height: 70px;
}

.image-list{
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
  scrollbar-width: none;
}

.image-item:nth-child(1){
  transform: rotate(-7.44deg);
  transition: 1s ease-in-out ;
  &:hover{
    transform: rotate(0);
  }
}
.image-item:nth-child(2){
  transform: rotate(9.48deg);
  transition: 1s ease-in-out ;
  &:hover{
    transform: rotate(0);
    z-index: 10;
  }
}
.image-item:nth-child(3){
  transform: rotate(-7.44deg);
    transition: 1s ease-in-out ;
  &:hover{
    transform: rotate(0);
    z-index: 10;
  }
}
.image-item:nth-child(4){
  transform: rotate(9.48deg);
    transition: 1s ease-in-out ;
  &:hover{
    transform: rotate(0);
    z-index: 10;
  }
}
.image-item:nth-child(5){
  transform: rotate(-7.44deg);
    transition: 1s ease-in-out ;
  &:hover{
    transform: rotate(0);
    z-index: 10;
  }
}



.snapImage-item:nth-child(1){
  transform: rotate(-7.44deg);
}
.snapImage-item:nth-child(2){
  transform: rotate(9.48deg);
}
.snapImage-item:nth-child(3){
  transform: rotate(-7.44deg);

}
.snapImage-item:nth-child(4){
  transform: rotate(9.48deg);
}

.imageCenter{
  transform: translate(-50%, -50%);
}