@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 18 18 18;
    --color-secondary: 255 255 255;
    --color-accent: 28 28 28;
  };
}

@font-face {
  font-family: "planet";
  src: url(/font/planet_kosmos/PLANK___.TTF) format(truetype);
}

@font-face {
  font-family: "patino";
  src: url(/font/patinio_futura/Patinio Futura.ttf) format(truetype);
}

p{
  font-family: patino;
}

li{
  text-decoration: underline;
}

.brandLogo{
  height: 60px;
}

.image-list{
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
  scrollbar-width: none;
}

.image-item:nth-child(odd){
  transform: rotate(-7.44deg);
  transition: 1s ease-in-out ;
  &:hover{
    transform: rotate(0);
  }
}
.image-item:nth-child(even){
  transform: rotate(9.48deg);
  transition: 1s ease-in-out ;
  &:hover{
    transform: rotate(0);
    z-index: 10;
  }
}
/* .image-item:nth-child(3){
  transform: rotate(-7.44deg);
    transition: 1s ease-in-out ;
  &:hover{
    transform: rotate(0);
    z-index: 10;
  }
}
.image-item:nth-child(4){
  transform: rotate(9.48deg);
    transition: 1s ease-in-out ;
  &:hover{
    transform: rotate(0);
    z-index: 10;
  }
}
.image-item:nth-child(5){
  transform: rotate(-7.44deg);
    transition: 1s ease-in-out ;
  &:hover{
    transform: rotate(0);
    z-index: 10;
  }
} */

.loaderPage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  perspective: 500px;
  background: rgb(18, 18, 18);
}

.item {
  width: 70%;
  overflow: hidden;
  stroke: #fff;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/* .snapImage-container{
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
} */

.snapImage-item{
  width: 170px;
  height: 250px;
  border: white 2px solid;
}
.snapImage-item:nth-child(1){
  /* transform: rotate(-7.44deg); */
  transform: translateX(20px);
}
.snapImage-item:nth-child(2){
  /* transform: rotate(9.48deg); */
  transform: translateY(50px) translateX(-7px);
  /* transform: translateX(-30px); */
}
.snapImage-item:nth-child(3){
  /* transform: rotate(-7.44deg); */
  transform: translateY(-70px) translateX(20px);

}
.snapImage-item:nth-child(4){
  /* transform: rotate(9.48deg); */
  transform: translateY(-20px) translateX(-7px);
}

.imageCenter{
  transform: translate(-50%, -50%);
}

/* <reset-style> ============================ */
/* button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
} */
/* ============================ */
/* <style for bg> ======== */


/* <style for menu__icon> ======== */
.background{
  border: whitesmoke 1px solid;
  border-radius: 5px;
  padding: 2px 3px;
}
.menu__icon {
  width: 32px;
  height: 32px;
  padding: 1px;

}

.menu__icon span {
  display: block;
  width: 100%;
  height: 0.125rem;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
  transition: background-color .4s;
  position: relative;
}

.menu__icon span+span {
  margin-top: .375rem;
}

/* .menu__icon:hover span:nth-child(1) {
  animation: ease .8s menu-icon-top-2 forwards;
}

.menu__icon:hover span:nth-child(2) {
  animation: ease .8s menu-icon-scaled-2 forwards;
}

.menu__icon:hover span:nth-child(3) {
  animation: ease .8s menu-icon-bottom-2 forwards;
} */

/* .menu__icon:hover span:nth-child(1) {
  animation: ease .8s menu-icon-top forwards;
}

.menu__icon:hover span:nth-child(2) {
  animation: ease .8s menu-icon-scaled forwards;
}

.menu__icon:hover span:nth-child(3) {
  animation: ease .8s menu-icon-bottom forwards;
} */

.menu_span1{
  animation: ease .8s menu-icon-top forwards;
}
.menu_span2{
  animation: ease .8s menu-icon-scaled forwards;
}
.menu_span3{
  animation: ease .8s menu-icon-bottom forwards;
}

@keyframes menu-icon-top {
  0% {
    top: 0;
    transform: rotate(0);
  }

  50% {
    top: .5rem;
    transform: rotate(0);
  }

  100% {
    top: .5rem;
    transform: rotate(45deg);
  }
}

@keyframes menu-icon-top-2 {
  0% {
    top: .5rem;
    transform: rotate(45deg);
  }

  50% {
    top: .5rem;
    transform: rotate(0);
  }

  100% {
    top: 0;
    transform: rotate(0);
  }
}

@keyframes menu-icon-bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }

  50% {
    bottom: .5rem;
    transform: rotate(0);
  }

  100% {
    bottom: .5rem;
    transform: rotate(135deg);
  }
}

@keyframes menu-icon-bottom-2 {
  0% {
    bottom: .5rem;
    transform: rotate(135deg);
  }

  50% {
    bottom: .5rem;
    transform: rotate(0);
  }

  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes menu-icon-scaled {
  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes menu-icon-scaled-2 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}


::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background-color:rgb(28, 28, 28);
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}






/* .SlideShow{
  --gap: 2rem;
  gap: var(--gap);
}

.logoContainer{
  animation: scroll 20s linear infinte;
  flex-shrink: 0;
  min-width: 100%;
  gap: var(--gap);
} */
/* 
body {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #131722;
  background-color: #f7f8fd;
  padding: 100px 50px;
}

h1 {
  text-align: center;
  margin-block-end: 2.5rem;
} */

.stock-ticker {
  font-size: 15px;
  padding-block: 8px;
  margin-top: 20px;
  /* border-block: 1px solid; */
  background: rgb(28, 28, 28);
  overflow: hidden;
  user-select: none;

  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);

  animation: scroll 20s linear infinite;
}

.stock-ticker:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.stock-ticker ul:first-child {
  /* background-color: yellow; */
}

.stock-ticker ul:last-child {
  /* background-color: pink; */
}

.stock-ticker .company,
.stock-ticker .price {
  font-weight: bold;
}

.stock-ticker .price {
  margin-inline: 4px;
}

/* .stock-ticker .plus::before {
  content: "↑";
}

.stock-ticker .minus::before {
  content: "↓";
} */

.stock-ticker .plus .change,
.stock-ticker .plus::before {
  color: #089981;
}

.stock-ticker .minus .change,
.stock-ticker .minus::before {
  color: #f23645;
}

.company img{
  height: 70px;
}